@import 'color.scss';

$acent: $blue;
$highlight: $sapphire;
$background: $base;
$foreground: $text;
$layer: $surface1;

* {
  all: unset;
}

//Global Styles
.bar {
  color: $acent;
  border-radius: 16px;
}

.bar-shadow {
  background-color: $background;
  box-shadow: 0px 0px 7px rgb(0, 0, 0, 0.9);
  margin: 10px;
  border-radius: 16px;
}

.sidebar {
  color: $acent;
  border-radius: 16px;
}

.side {
  background-color: $background;
  box-shadow: 0px 0px 7px rgb(0, 0, 0, 0.9);
  margin: 10px;
  border-radius: 16px;
  padding: 0px 30px 0px 30px;
}

/** tooltip!! **/
tooltip.background {
  background-color: $background;
  font-size: 18;
  border-radius: 16px;
  color: $acent;
}

tooltip label {
  margin: 6px;
  font-weight: bold;
  font-size: 14;
  font-family: JetBrainsMono Nerd Font Mono;
}

.works {
  font-size: 24px;
  font-weight: normal;
  margin: 0px 0px 3px 20px;
  font-family: JetBrainsMono Nerd Font Mono;
}

.launcher {
  margin: 0px 0px 4px 20px;
  font-size: 28px;
  font-weight: bold;
  font-family: JetBrainsMono Nerd Font Mono;
}

// Clock
.time {
  margin: 5px 20px 9px 0px;
  font-size: 16px;
  font-weight: bold;
  font-family: JetBrainsMono Nerd Font Mono;
}

// Calendar

.calshadow {
  color: $acent;
  border-radius: 16px;
}

.cal {
  background-color: $background;
  font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
  font-weight: normal;
  margin: 10px;
  border-radius: 16px;
  box-shadow: 0px 0px 7px rgb(0, 0, 0, 0.9);
  .cal-in {
    padding: 10px 10px 0px 10px;
    color: $acent;

    .cal {
      &.highlight {
        all: unset;
        padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

calender {
  color: $layer;
}
calendar:selected {
  color: $highlight;
}

calendar.header {
  color: $acent;
  font-weight: bold;
}

calendar.button {
  color: $acent;
}

calendar.highlight {
  color: $acent;
  font-weight: bold;
}

calendar:indeterminate {
  color: $layer;
}

// Music
.music-player {
  all: unset;
  background-color: $layer;
  padding: 0px 25px 0px 17px;
  border-radius: 12px;
  box-shadow: 0px 0px 6px 6px rgb(0, 0, 0, 0.4);
}
.album_art {
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin: 2rem 1rem 1.5rem 1rem;
  padding: 4rem;
}

.artist {
  font-family: JetBrainsMono Nerd Font Mono;
  font-weight: bold;
  color: $acent;
  font-size: 1.2em;
}
.song {
  font-family: JetBrainsMono Nerd Font;
  font-style: italic;
  font-size: 1.1em;
  color: $acent;
  margin-top: -5px;
}
.btn_prev,
.btn_play,
.btn_next {
  font-family: JetBrainsMono Nerd Font Mono;
  color: $acent;
  font-size: 25px;
}

.metric-player scale trough highlight {
  all: unset;
  border-radius: 10px;
  background-color: $acent;
}

// weather
.weather {
  all: unset;
  background-color: $layer;
  border-radius: 12px;
  padding: 23px 37px 20px 37px;
  box-shadow: 0px 0px 6px 6px rgb(0, 0, 0, 0.4);
}

.iconweather {
  font-family: JetBrainsMono Nerd Font;
  font-size: 44px;
  font-weight: normal;
  margin: 0px -5px 0px 20px;
}

.label_temp {
  color: $acent;
  font-size: 35px;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  font-family: JetBrainsMono Nerd Font Mono;
}

.label_stat {
  color: $acent;
  font-size: 38px;
  font-weight: bold;
}

.label_quote {
  color: $acent;
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: normal;
}

.date {
  all: unset;
  background-color: $layer;
  padding: 33px 27px 27px 27px;
  border-radius: 12px;
  color: $acent;
  font-size: 18px;
  font-style: italic;
  font-family: Cartograph CF;
  box-shadow: 0px 0px 6px 6px rgb(0, 0, 0, 0.4);
}

.stats-box {
  all: unset;
  background-color: $layer;
  padding: 20px 25px 20px 25px;
  border-radius: 12px;
  box-shadow: 0px 0px 6px 6px rgb(0, 0, 0, 0.4);
}

.stats-icon {
  font-size: 23px;
  color: $acent;
  font-family: JetBrainsMono Nerd Font Mono;
}

.scale trough {
  all: unset;
  background-color: $background;
  min-height: 12px;
  border-radius: 15px;
  margin-left: 10px;
}

.scale highlight {
  background-color: $acent;
  border-radius: 15px;
}

.foo {
  font-size: 40px;
  padding-top: 10px;
}

.buttons {
  opacity: 1;
  background-color: $layer;
  border-radius: 12px;
  padding: 15px 0px 15px 0px;
  font-family: JetBrainsMono Nerd Font Mono;
  margin-bottom: 30px;
  box-shadow: 0px 0px 6px 6px rgb(0, 0, 0, 0.4);
}

.poweroff,
.reboot,
.firmware,
.exit,
.restart {
  margin: 0px 16px 0px 16px;
  padding: 2px 11px 2px 11px;
  border-radius: 25px;
  font-size: 24px;
  color: $background;
}

.poweroff {
  background-color: #f7768e;
}
.reboot {
  background-color: #73daca;
}
.firmware {
  background-color: #7aa2f7;
}
.exit {
  background-color: #bb9af7;
}
.restart {
  background-color: #fea861;
}

.fetch {
  margin-top: 35px;
  font-size: 15px;
  border-radius: 12px;
  background-color: $layer;
  padding: 30px 85px 30px 85px;
  box-shadow: 0px 0px 6px 6px rgb(0, 0, 0, 0.4);
}

.wm {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  color: #bb9af7;
}

.host {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  color: #f7768e;
}

.uptime {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  color: #e0af68;
}

.packages {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  color: #7aa2f7;
}

.kernal {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  color: #73daca;
}
