Use_Label=false
Show_Values=true
Show_Bars=false
Colorize_Values=true
Color_In=rgb(51,209,122)
Color_Out=rgb(192,97,203)
Text=網路
Network_Device=enp4s0
Max_In=4096
Max_Out=4096
Auto_Max=true
Update_Interval=250
Values_As_Bits=true

