[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/larvasei/Desktop/Side Project]
row=6
col=0

[/home/larvasei/Desktop/steam.desktop]
row=2
col=0

[/home/larvasei/Desktop/Learning]
row=3
col=0

[26703577-c0ef-49a7-aed8-73ddc3cd8383]
row=0
col=0

[垃圾桶]
row=1
col=0

[/]
row=4
col=0

[/home/larvasei]
row=5
col=0

